.container {
  margin: 12px auto;
  font-family: 'Open Sans', sans-serif;
  color: #454545;
}

.headTitle {
  font-size: 12px;
  margin: 32px auto;
  width: 120px;
  text-align: center;
}

.table {
  border-color: #d4d4d4;
  border-collapse: collapse;
  font-size: 8px;
  margin: 12px auto;
}

.schoolName {
  display: block;
}

td, th {
  padding: 2px;
  border: 1px solid #d4d4d4;
}

th {
  background-color: #e4e4e4;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .headTitle {
    font-size: 14px;
  }
  .table {
    font-size: 12px;
  }
  td, th {
    padding: 4px;
  }
}

@media (min-width: 1440px) {
  .headTitle {
    font-size: 18px;
  }
  .table {
    font-size: 14px;
  }
  td, th {
    padding: 6px;
  }
}

.speaker label{
  text-decoration: underline;
}

.speakerInfo {
  margin-left: 16px;
  height: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  width: 160px;
  color: #9b9b9b;
}
.speaker input{
  display:none;
}
.speaker input:checked ~ .speakerInfo {
  height:auto;
}
input + label:before {
  content:"";
  display:inline-block;
}
